.card .img-box{
    position: relative;
    overflow: hidden;
}

.card .img-box .overlays{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 50%;
background-image:linear-gradient(to bottom right, white, #5239FA);
opacity: 0.45;
transition: .5s;
transform: translateY(100%);
}

.card:hover .overlays{
 transform: translateY(0);
}


.card{
    position: relative;
}
.card .img-box .icon-boxs{
    z-index: 1;
    position: absolute;
    bottom: 12%;
    left: 50% !important;
    transform: translateX(-50%);
    color: white;

}

