.next,
.prev {
    width: 40px;
    height: 40px;
    background: #5239FA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    z-index: 11;

}

.next {
    right: 0;
}
.prev {
    right: 50px;
}