@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
 font-family: "Poppins", sans-serif !important;
}



.acc{
    font-family: "Poppins", sans-serif !important;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color:white !important;
   border: none !important;
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    /* box-shadow: var(--bs-accordion-btn-focus-box-shadow); */
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    /* box-shadow: var(--bs-accordion-btn-focus-box-shadow); */
}
.contact .icon{
    left: 260px;
}
.contact:hover .icon{
    left: 280px;
}

li {
      font-family: 'Poppins', sans-serif;
      font-weight: 500 !important;
    }
.copy-ul{
    transition: 0.3s;
}

    .copy-ul li:hover{
        text-decoration: underline;
        font-weight: 600 !important;
      
    }

    ::-webkit-scrollbar{
        width: 0;
    }
